org: chia1104
app: nestjs-serverless
service: hello-world

plugins:
  - serverless-offline

provider:
  name: aws
  Runtime: nodejs16.x

functions:
  main:
    handler: dist/lambda.handler
    events:
      - http:
          method: ANY
          path: /
      - http:
          method: ANY
          path: '{proxy+}'
